@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --color1: #253992;
  --color2: #3e2bc5;
}

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #15161c81;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.487);
  border-radius: 10px;
}

.rotated-div {
  transform: rotate(-45deg); /* Adjust the angle as per your requirement */
}
